#header2 {
  background-color: #f4f5f6; /* Background color of the navigation bar */
  padding-top: 10px;
  padding-bottom: 0px;
}

#htnavbar {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#htnavbar a {
  text-decoration: none;
  color: black; /* Default text color */
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  position: relative; /* Required for positioning the box */
}

#htnavbar a svg {
  vertical-align: bottom;
  margin-bottom: 1px;
  margin-right: 5px;
}

#htnavbar a::after {
  content: "";
  position: absolute;
  top: 100%; /* Position below the link */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 128, 0); /* Color of the line */
  display: none; /* Initially hide the line */
}

#htnavbar a:hover {
  background-color: #ebebeb; /* Darker background color on hover */
}

#htnavbar a.active {
  font-weight: bold; /* Make the font bold for the active tab */
}

#htnavbar a.active::after {
  margin-top: 5px;
  margin-bottom: 0;
  display: block; /* Show the line on hover and for the active tab */
}

